@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    margin-top: 4em;
    padding: 5em;
    color: #ffffff;
    font-family: Arial, sans-serif;
    background-color: #673ab7;

    background: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);

    background-size: 200% 200%;
    animation: gradientAnimation 15s ease infinite;

    margin: 0;
    padding: 0;
    color: #e0e0e0;
}

.cursor {
    font-family: 'Inconsolata', monospace;
}


@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    25% { background-position: 50% 50%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 50%; }
    100% { background-position: 0% 50%; }

}

header {
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    padding: 20px;
    text-align: center;
    text-shadow: 0 0 1px #ffffff, 0 0 1px #ffffff;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 2px #fff5f7, 0 0 2px #fff5f7;
}

nav ul li a:hover {
    color: #9b59b6;
    text-shadow: 0 0 10px #9b59b6, 0 0 20px #9b59b6;
}

main {
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #e0e0e0;
    font-size: 20px;
}

html, body {
    height: 100%;
    margin: 0;
}

.content {
    min-height: calc(100vh - 100px);
    padding-bottom: 100px;
    box-sizing:
}

@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}
.typewriter-animation {
  animation:
    typewriter 5s steps(50) 1s 1 normal both,
    blinkingCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

.timeline {
    position: relative;
    max-width: 1000px;
    margin: 1px auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 80px;

}


.container {
    padding: 10px 0px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
    display: flex;
    justify-content: center;
}

@keyframes movedown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.container:nth-child(1){
    animation-delay: 0s;
}

.container:nth-child(2){
    animation-delay: 1s;
}

.container:nth-child(3){
    animation-delay: 2s;
}

.container:nth-child(4){
    animation-delay: 3s;
}

.container:nth-child(5){
    animation-delay: 4s;
}

.text-box {
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    color: #000;
}
.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}


@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.text-box h2{
    font-weight: 600;
}

.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}

@media screen and (max-width: 600px) {
    footer .center {
        display: none !important;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 10px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }

    /* Mobile footer styles */
    footer {
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        display: flex;
        align-items: center;
        padding: 10px 0px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    footer .center {
        display: none;
    }
}



footer {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .left {
  flex: 1;
  text-align: left;
}

footer .center {
  flex: 0.37;
  text-align: center;
}
