<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hometext.css') }}">
<script src="{{ url_for('static', filename='JavaScript/background.js') }}"></script>
    <link rel="icon" href="/static/images/Favicon.png" type="image/png">



    <title>Homepage | Portfolio | Joseph Hayes Gonzalez</title>
</head>
<body id="animatedBody">
    <header>
        <h1>Welcome to My Portfolio</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <p class="cursor typewriter-animation desktop-text">
            cursor.execute('SELECT * FROM portfolio WHERE id=1;')
        </p>
        <p class="cursor typewriter-animation mobile-text">
            SELECT * FROM portfolio;
        </p>


        <p>Welcome to My Portfolio! I'm Joseph Hayes Gonzalez, a Cybersecurity student in Cambridge. Here, you'll find a showcase of my notable achievements and projects that reflect my passion and dedication in the field.</p>
    </main>

    <div class="timeline">
        <div class="container left-container">
            <div class="text-box">
                <small>04/2023 - 12/2023</small>
                <h2>My First Program (NEA)</h2>
                <p>This can be found on my Github! During sixth form I was tasked with making a program for my NEA and so i made a Point of Sales System using Python, SQL, and PyQt5.</p>
            </div>
            <div class="left-container-arrow"></div>
        </div>

        <div class="container right-container">
            <div class="text-box">
                <small>07/2023 - 05/2024</small>
                <h2>Learned the Basics of Databases and Web Development</h2>
                <p>I learned the basics of these topics during my A Level in ICT, having made a dummy website for a project.</p>
            </div>
            <div class="right-container-arrow"></div>
        </div>

        <div class="container left-container">
            <div class="text-box">
                <small>06/2022 - 08/2024</small>
                <h2>Finished My A Levels and Received My Results</h2>
                <p>Recieved an unconditional offer into University with good grades.</p>
            </div>
            <div class="left-container-arrow"></div>
        </div>

        <div class="container right-container">
            <div class="text-box">
                <small>09/2024 - Present</small>
                <h2>Started My Degree in Cybersecurity</h2>
                <p>I hope to, after this degree, become a professional in Cybersecurity using the skills i have gained over my life</p>
            </div>
            <div class="right-container-arrow"></div>
        </div>

        <div class="container left-container">
            <div class="text-box">
                <small>09/2024 - 10/2024</small>
                <h2>Finished ISC2's Certified in Cybersecurity Training</h2>
                <p>Focuses on foundational cybersecurity concepts and practices. I am excited to apply what I learned here to my career in Cybersecurity</p>
            </div>
            <div class="left-container-arrow"></div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let startTime = localStorage.getItem('gradientStartTime');

            if (!startTime) {
                startTime = Date.now();
                localStorage.setItem('gradientStartTime', startTime);
            }

            const elapsedTime = (Date.now() - startTime) / 1000;

            const body = document.getElementById('animatedBody');
            if (body) {
                body.style.animationDelay = `-${elapsedTime % 15}s`;
            }
        });
    </script>


<footer>
  <div class="left">
    <p>Email: joehayes006@gmail.com</p>
  </div>
  <div class="center">
    <p>Thanks for Checking out my Portfolio!</p>
  </div>
</footer>

</body>
</html>
