<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/mainstylesheet.css') }}">

    <title>Projects | Portfolio | Joseph Hayes Gonzalez</title>
</head>
<body>
    <header>
        <h1>My Projects</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Project Showcase</h2>
        <p>Here are the projects I have done throughout my time at Sixth form due to the current day at University. <br> Here is my github: https://github.com/MoejoMan?tab=repositories</p>
    </main>

<footer>
  <div class="left">
    <p>Email: joehayes006@gmail.com</p>
  </div>
  <div class="center">
    <p>Thanks for Checking out my Portfolio!</p>
  </div>
</footer>

</body>
</html>
