name: Deploy to PythonAnywhere

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install PythonAnywhere CLI
        run: python3 -m pip install --upgrade --force-reinstall pythonanywhere --user

      - name: Deploy to PythonAnywhere
        env:
          PYTHONANYWHERE_API_TOKEN: ${{ secrets.PA_API_TOKEN }}
        run: |
          $HOME/.local/bin/pythonanywhere login --apikey $PYTHONANYWHERE_API_TOKEN
          $HOME/.local/bin/pythonanywhere run "cd ~/mysite && git pull"
          $HOME/.local/bin/pythonanywhere webapp reload Moejoe06.pythonanywhere.com
